*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(141, 8, 141);
    font-size: 20px;

}
form{
    width: 500px;
    border:2px double rebeccapurple;
    padding: 20px;
    background: rgb(192, 230, 243);

}
/* form elements  */
label{
    display: block;
    font-weight: bold;
    margin-top: 10px;
   font-size: 1rem;
   color: rgb(220, 72, 240);
   text-shadow: 2px 2px 5px rgb(185, 174, 174);

    
}
input, select{
    display: block;
    background: rgb(241, 227, 229);
    
    width: 400px;
    /* height: 30px; */

}
input[type="submit"]{
    
    width: 100px;
    margin-top: 20px ;
    height: 40px;
    background: palevioletred;
}
h3{
    margin-top: 20px;
}

input[type="radio"], 
input[type="radio"] + label{
    
    vertical-align: middle;
    display: inline;
    width: auto;
}
.data > input, .data > label,
.group > input, .group > label,
.cars > input, .cars > label,
.file > input, .file > label,
.number > input, .number > label,
.price > input, .price > label,
.local > input, .local >label,
input[type="checkbox"], 
input[type="date"], 
input[type="checkbox"]+label,
input[type="date"]+label{

    vertical-align: middle;
    display: inline;
    width: auto;
   
    
    padding-bottom: 20px;
}
select{
    font-size: 20px;
}
p{
    font-size: 15px;
    color: black;
}
